@font-face {
  font-family: "Avenir_LT_35_Light_Regular";
  src: url("fonts/Avenir LT 35 Light Regular.woff2") format("woff2"),
       url("fonts/Avenir LT 35 Light Regular.woff") format("woff");

  font-weight: 300; 
  font-style: normal;
}