@font-face {
  font-family: "Avenir_LT_35_Light_Regular";
  src: url("fonts/Avenir LT Light Regular.woff2") format("woff2"),
       url("fonts/Avenir LT Light Regular.woff") format("woff");

  font-weight: normal; 
  font-style: normal;
}